body{
    background-color: #303030;
}

.header .container h1{
    font-size: 50px;
    font-family: Arial;
    margin-top: -5px;
    margin-left: 30px;
    color: #008AE6;
}

.nav .container a:link{
    color: red;
    text-decoration: none;
}

.nav .container a:visited{
    color: red;
    text-decoration: none;
}

.nav .container a:hover{
    color: #59B3EF;
}

.nav .container li{
    color: white;
    display: inline;
}

.Main{
    margin: auto;
    background-image: url('https://quarterlifeconversations.files.wordpress.com/2013/04/danceparty.jpg');
    width: 590px;
    height: 350px;
}

.Main .container p{
    font-size: 30px;
    color: white;
}

.Main .container h1{
    font-size: 50px;
    color: white;
}

.Main .container{
    position: relative;
    top: 215px;
    left: 10px;
}