body{
    background: url('http://cdn.desktopwallpapers4.me/wallpapers/abstract/1680x1050/2/15932-simple-gradient-1680x1050-abstract-wallpaper.jpg') no-repeat 0em -3.5em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: local;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.header h1{
    font-size: 4.5em;
    font-family: Arial, cursive;
    color: white;
    margin-left: -0.55em;
    text-shadow: 2px 2px 5px black;
}

.menu img{
    width: 2em;
    height: auto;
    margin: 1.15em 0em 0em 0em;
}

#menubtn{
    cursor: pointer;
}

.nav a:link{
    color: white;
    text-decoration: none;
}

.nav a:visited{
    color: white;
    text-decoration: none;
}

.nav a:hover{
    color: #C6C6C6;
}

.nav li{
    font-size: 1.65em;
    margin: 0.7em 0.3em 0em 0.3em;
    color: white;
    display: inline-block;
}

.nav {
    margin-left: 9.5em;
}

.main-nav a:link{
    color: white;
    text-decoration: none;
}

.main-nav a:visited{
    color: white;
    text-decoration: none;
}

.main-nav li{
    margin-top: 12px;
    color: white;
    display: inline-block;
}

.Main{
    margin: auto;
    width: 590px;
    height: 350px;
}

.Main .container p{
    font-size: 30px;
    color: white;
}

.Main .container h1{
    font-size: 50px;
    color: white;
}

.Main .container{
    position: relative;
    top: 215px;
    left: 10px;
}