.menu{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 1em;
  background: #434343;
  transition: width ease .5s;
  -webkit-transition: width ease .5s;
  -moz-transition: width ease .5s;
  -o-transition: width ease .5s;
}

.menu: hover{
  width: 4em;
}