body{
  background: #2C3539;
}

.menu{
  /*border: solid 2px pink;*/
  position: fixed;
  margin-top: -0.5%;
  left: 0.02%;
  height: 100%;
  width: 13.5%;
  padding-left: 0.9%;
  background: #2C3539;
  /*transition: width ease .5s;
  -webkit-transition: width ease .5s;
  -moz-transition: width ease .5s;
  -o-transition: width ease .5s;*/
}

/*.menu:hover{
  width: 13.5%;
}
/*.menu img{
  width: 2em;
  height: auto;
  margin: 1.15em 0em 0em 0em;
}

/*#menubtn{
  cursor: pointer;
}*/

.menu h3{
  font-size: 3.1em;
  font-family: 'Poiret One', 'Arial';
  font-weight: bold;
  color: white;
}

h3:hover{
  font-size: 3.1em;
  font-family:'Poiret One';
  color:#1cc4e7;
  font-weight: bold;
}

.menu li{
  /*border: solid 2px green;*/
  list-style-type: none;
  margin-left: -54%;
  padding-left: 38.00%;
  font-size: 1.5em;
  width: 70%;
  font-family: 'Poiret One', 'Arial';
  color: white;
}

.menu li:hover{
  transform: translateX(14%);
  /*animation-name: listshift;
  animation-duration: 1s;
  animation-timing-function: ease;*/
}

/*@keyframes listshift {
    100% {left:50%;}
}

@-webkit-keyframes listshift {
    100% {left:50%;}
}*/

.menu a{
  text-decoration: none;
  font-size: 1.5em;
  color: white;
}

.menu a:hover{
  color: #1cc4e7;
  font-weight: bold;
}

#selected{
  transition: opacity 1s ease ;
      -webkit-transition: opacity 1s ease;
        -moz-transition: opacity 1s ease;
          -o-transition: opacity 1s ease;
}


/*.boxspace{
  background-color: black;
  float: left;
  position: relative;
  margin: 0.5em 1.5em 0.5em 1.5em;
  width: 23.1%;
  height: 16%;
}  */

 /*Change border later to outline not inline*/
/*#selected:hover{
  border: 0.5em solid white;
}*/

iframe:hover{
  border: 0.5em solid white;
}

.display{
  border: 2px solid #2C3539;
  z-index: 2;
  float:right;
  position: fixed;
  margin-left: 13.5%;
  margin-top: 3%;
  height: 94.3%;
  width: 86.7%;
  overflow: auto;
  padding:1% 1% 1% 1%;
  border-radius: 2em 0em 0em 0em;
  border: solid 2px #26ad80;
  background:#434343;
}

iframe{
  width:23.6%;
  height:20%;
  margin: 0.5% 0.5% 0.5% 0.5%;
  clear: left;
}
/*
#search{
  border: solid 2px orange;
  font-size: 2em;
  background-color: #2C3539;
  font-family: 'Poiret One', 'Arial';
  font-weight: bold;
  color: white;
  margin-left: 13.3%;
  width: 70%;
  height: 5.8%;
  position: fixed;
}
*/
form{
  margin-top: 0.6%;
  margin-right: 0.5%;
  float: right;
}

.sfm input {
    background-color: #cccccc; 
    font-size: 1em; 
    border: 0px; 
    margin-top: 0px; 
    color: #878787; 
    letter-spacing: 0.0625em; 
    padding: 0.25em 0.5em;
    font-family: calibri, helvetica, arial;
}
    
tr{
  clear:both;
  border:2px solid black;
}

